<div class="d-sm-flex justify-content-between align-items-center mb-4">
  <h3 class="text-dark mb-0">Dashboard</h3>
  <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">
    <i class="fas fa-download fa-sm text-white-50"></i>
    Generate Report
  </a>
</div>
<div class="row">
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-start-primary py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col me-2">
            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total projects count</span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>{{dashboard.totalProjects}}</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-table fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-start-success py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col me-2">
            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Total tasks from projects</span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>{{dashboard.totalTicketsFromProjects}}</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-check fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-start-success py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col me-2">
            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Total tasks in progress</span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>{{dashboard.totalTicketsFromProjectsInProgress}}</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-start-warning py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col me-2">
            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total tasks in done</span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>{{dashboard.totalTicketsFromProjectsInDone}}</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row-lg-6 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">Last opened projects</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr></tr>
                </thead>
                <tbody *ngFor="let project of dashboard.lastModifiedProjects">
                <tr (click)="goProjectInfo(project.id)" class="hovering">
                  <td>{{project.name}} ({{project.shortName}})</td>
                  <td>{{project.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">Last modified tasks</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr></tr>
                </thead>
                <tbody *ngFor="let task of dashboard.lastModifiedTickets">
                <tr (click)="goTaskInfo(task.relatedProjectId, task.id)" class="hovering">
                  <td>{{task.relatedProject.shortName}}-{{task.number}}</td>
                  <td>{{task.title}}</td>
                  <td>{{task.type}}</td>
                  <td>{{task.status}}</td>
                  <td>{{task.priorityName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
