<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Login - diplom</title>
</head>

<body style="background: rgb(196,225,194);">
<div class="container">
  <div class="row justify-content-center" style="margin-top: -1px;padding-top: 0;padding-bottom: 0;">
    <div class="col-md-9 col-lg-12 col-xl-10" style="padding-top: 60px;padding-bottom: 60px;margin-top: 45px;">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex">
              <div class="flex-grow-1 bg-login-image" style="background: url('../../../assets/login.jpg');"></div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Welcome Back!</h4>
                </div>
                <form class="user">
                  <div class="mb-3"><input [(ngModel)]="user.login" id="login" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="login" /></div>
                  <div class="mb-3"><input [(ngModel)]="user.password" id="password" class="form-control form-control-user" type="password" placeholder="Password" name="password" /></div>
                  <div class="mb-3">
                    <div class="custom-control custom-checkbox small">
                      <div class="form-check"><input id="formCheck-1" class="form-check-input custom-control-input" type="checkbox" /><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                    </div>
                  </div>
                  <button (click)="logIn(user)" class="btn btn-primary d-block btn-user w-100" type="button">Login</button>
                  <div class="mt-1 text-center">
                    <h4 *ngIf="errorMessage != ''" class="text-danger mb-1">{{errorMessage}}. Try again</h4>
                  </div>
                </form>
                <br>
                <div (click)="goRegister()" class="text-center"><a class="small">Create an Account!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
