<div class="container-fluid" *transloco="let t">
  <div class="row align-items-center">
  <div class="col text-center justify-content-start m-2" style="display: flex;position: static;">
    <h3 *ngIf="!onUpdated else editTitle" class="text-dark mb-4">{{taskInfo.relatedProject.shortName}}
      -{{taskInfo.number}} - {{taskInfo.title}}</h3>
    <ng-template #editTitle>
      <input (change)="updated = true" [(ngModel)]="taskInfo.title" [ngModelOptions]="{standalone: true}" id="username"
             class="form-control"
             style="margin-right: 10px"
             type="text" placeholder="user.name"
             name="first"/>
    </ng-template>
    <div class="col text-center justify-content-end align-items-center"
         style="display: flex;position: static; width: 200px; height: fit-content">
      <button (click)="onUpdated = !onUpdated;" class="btn btn-primary"
              style="margin-right: 10px"
              type="button">{{onUpdated ? t('cansel') : t('edit')}}</button>
      <button *ngIf="onUpdated" [disabled]="!updated" (click)="updateTicket()" class="btn btn-primary" type="button">{{t("save")}}</button>
    </div>
  </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">{{t("mainInformation")}}</h6>
        </div>
        <div class="card-body">
          <div class="col-xl-10 col-xxl-11" style="display: inline-block;">
            <div class="mb-3" style="display: grid;">
              <label class="form-label" style="display: grid;"><strong>{{t("reporter")}}</strong></label>
              <div style="display: inline-flex;">
                <img *ngIf="taskInfo.reporter != null" class="rounded-circle me-2" width="30" height="30" src="{{taskInfo.reporter.image}}"/>
                <label class="form-label" style="display: grid;">
                  {{taskInfo.reporter != null ? taskInfo.reporter.firstName : "-"}} {{taskInfo.reporter != null ? taskInfo.reporter.lastName : ""}} {{!accessedUserIds.includes(taskInfo.reporterId) && taskInfo.reporter != null ? t('deactivated') : ''}}
                </label>
              </div>

            </div>
            <div class="mb-3" style="display: grid;"><label class="form-label"><strong>{{t("assignee")}}</strong></label>

              <div *ngIf="!onUpdated else editAssignee" style="display: inline-flex;">
                <img *ngIf="taskInfo.assignee != null" class="rounded-circle me-2" width="30" height="30" src="{{taskInfo.assignee.image}}"/>
                <label class="form-label" style="display: grid;">
                  {{taskInfo.assignee != null ? taskInfo.assignee.firstName : "-"}} {{taskInfo.assignee != null ? taskInfo.assignee.lastName : ""}} {{!accessedUserIds.includes(taskInfo.assigneeId) && taskInfo.assignee != null ? t('deactivated') : ''}}
                </label>
              </div>
              <ng-template #editAssignee>
                <ng-multiselect-dropdown
                  [placeholder]="t('selectAssignee')"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListAccessedUsers"
                  [(ngModel)]="assignee"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="(filtersLoaded | async) && (filtersLoaded1 | async)"
                  (onSelect)="onItemSelect($event, 'assignee', false)"
                  (onDeSelect)="onItemSelect($event, 'assignee', true)">
                </ng-multiselect-dropdown>
              </ng-template>
            </div>
            <div class="mb-3" style="display: grid;"><label class="form-label"><strong>{{t("reviewer")}}</strong></label>

              <div *ngIf="!onUpdated else editReviewer" style="display: inline-flex;">
                <img *ngIf="taskInfo.reviewer != null" class="rounded-circle me-2" width="30" height="30" src="{{taskInfo.reviewer.image}}"/>
                <label class="form-label" style="display: grid;">
                  {{taskInfo.reviewer != null ? taskInfo.reviewer.firstName : "-"}} {{taskInfo.reviewer != null ? taskInfo.reviewer.lastName : ""}} {{accessedUserIds.includes(taskInfo.reviewerId) && taskInfo.reviewer != null ? t('deactivated') : ''}}
                </label>
              </div>
              <ng-template #editReviewer>
                <ng-multiselect-dropdown
                  [placeholder]="t('selectReviewer')"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListAccessedUsers"
                  [(ngModel)]="reviewer"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded | async"
                  (onSelect)="onItemSelect($event, 'reviewer', false)"
                  (onDeSelect)="onItemSelect($event, 'reviewer', true)">
                </ng-multiselect-dropdown>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">{{t("additionalInformation")}}</h6>
        </div>
        <div class="card-body">
          <div class="col-xl-10" style="display: inline-block;">
            <div class="mb-3" style="display: grid;"><label class="form-label"></label><label
              class="form-label"><strong>{{t("type")}}</strong></label>
              <label *ngIf="!onUpdated else editType" class="form-label"
                     style="display: grid;">{{taskInfo.type}}</label>
              <ng-template #editType>
                <ng-multiselect-dropdown
                  [placeholder]="t('selectType')"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListType"
                  [(ngModel)]="type"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded1 | async"
                  (onSelect)="onItemSelect($event, 'type', false)"
                  (onDeSelect)="onItemSelect($event, 'type', true)">
                </ng-multiselect-dropdown>
              </ng-template>
            </div>
            <div class="mb-3" style="display: grid;"><label class="form-label"><strong>{{t("status")}}</strong></label>
              <label *ngIf="!onUpdated else editStatus" class="form-label"
                     style="display: grid;">{{taskInfo.status}}</label>
              <ng-template #editStatus>
                <ng-multiselect-dropdown
                  [placeholder]="t('selectStatus')"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListStatus"
                  [(ngModel)]="status"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded2 | async"
                  (onSelect)="onItemSelect($event, 'status', false)"
                  (onDeSelect)="onItemSelect($event, 'status', true)">
                </ng-multiselect-dropdown>
                <h4 *ngIf="statusError != ''" class="text-danger mb-1">{{statusError}}. Try again</h4>
              </ng-template>
            </div>
            <div class="mb-3" style="display: grid"><label
              class="form-label"><strong>{{t("priority")}}</strong></label>
              <label *ngIf="!onUpdated else editPriority" class="form-label"
                     style="display: grid;">{{taskInfo.priorityName}}</label>
              <ng-template #editPriority>
                <ng-multiselect-dropdown
                  [placeholder]="t('selectPriority')"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListPriority"
                  [(ngModel)]="priority"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="(filtersLoaded3 | async)"
                  (onSelect)="onItemSelect($event, 'priority', false)"
                  (onDeSelect)="onItemSelect($event, 'priority', true)">
                </ng-multiselect-dropdown>
              </ng-template>
            </div>

            <div class="mb-3" style="display: grid"><label
              class="form-label"><strong>{{t("difficulty")}}</strong></label>
              <label *ngIf="!onUpdated else editDifficulty" class="form-label"
                     style="display: grid;">{{taskInfo.difficulty}}</label>
              <ng-template #editDifficulty>
                <input (change)="updated = true" [(ngModel)]="taskInfo.difficulty" [ngModelOptions]="{standalone: true}" id="username" class="form-control m-2"
                       type="number" required min="0" max="20" placeholder="Difficulty"
                       name="first"/>
              </ng-template>
            </div>

            <div class="mb-3" style="display: grid"><label class="form-label"><strong>{{t("finishDate")}}</strong></label>
              <label *ngIf="!onUpdated else editRelatableFinishingDate" class="form-label"
                     style="display: grid;">{{taskInfo.relatableFinishedDate != null ? taskInfo.relatableFinishedDate : "-"}}</label>
              <ng-template #editRelatableFinishingDate>
                <mat-form-field [formGroup]="relatableDate1" class="example-full-width" appearance="fill">
                  <mat-label>{{t("chooseDate")}}</mat-label>
                  <input
                    [min]="currentDate"
                         formControlName="finishing"
                         [(ngModel)]="relatableDate"
                         (dateChange)="updated = true"
                         matInput [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ng-template>
            </div>
            <div class="mb-3" style="display: grid;position: sticky;"><label
              class="form-label"><strong>{{t("listeners")}}</strong></label>
              <label class="form-label" style="display: grid;">{{taskInfo.listeners.length}}</label>
            </div>
            <div class="mb-3" style="display: grid;position: sticky;"><label class="form-label"><strong>{{t("accessedUsers")}}</strong></label>
              <label class="form-label" style="display: grid;">{{taskInfo.accessableUsers.length}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">
                {{t("description")}}</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col">
                    <label *ngIf="!onUpdated else editDescription" class="form-label"
                           style="display: grid;">{{taskInfo.description}}</label>
                    <ng-template #editDescription>
                      <textarea [(ngModel)]="taskInfo.description" [ngModelOptions]="{standalone: true}"
                                class="form-control"
                                style="height: 250px;">{{taskInfo.description}}</textarea>
                    </ng-template>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="card-header py-3" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">
          <p class="text-primary m-0 fw-bold">{{t("subTasks")}}</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table *ngIf="subtasks.length > 0; else showNoSubtasks" class="table">
                  <thead>
                  <tr></tr>
                  </thead>
                  <tbody *ngFor="let subtask of subtasks">
                  <tr (click)="goTaskInfo(subtask.relatedProjectId, subtask.id)" class="hovering">
                    <td>{{subtask.relatedProject.shortName}}-{{subtask.number}}</td>
                    <td>{{subtask.title}}</td>
                    <td>{{subtask.type}}</td>
                    <td>{{subtask.status}}</td>
                    <td>{{subtask.priorityName}}</td>
                  </tr>
                  </tbody>
                </table>
                <ng-template #showNoSubtasks>
                  <label class="form-label">
                    <strong>{{t("noSubTasksHere")}}</strong></label>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-5">
        <div class="card-header py-3 d-flex justify-content-between align-items-center"
             style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">
          <p class="text-primary m-0 fw-bold ali">{{t("comments")}}</p>
          <a (click)="onCreationCommentDialogChange()" class="btn btn-circle ms-1"
             style="background-color: #4668c9" role="button"><i class="fas fa-plus text-white"></i></a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="row" *ngIf="taskInfo.comments.length > 0">
              <div *ngFor="let comment of taskInfo.comments" class="mb-3" style="display: inline-grid;overflow: auto;">
                <label class="form-label">
                  <img class="rounded-circle me-2" width="30" height="30" src="{{comment.author.image}}"/>
                  <strong>{{comment.author.firstName}} {{comment.author.lastName}} {{t('on')}} {{comment.created}}
                    :</strong></label>
                <label class="form-label">{{comment.value}}</label>
              </div>
            </div>
            <ng-template #showNoComment [ngIf]="!onCreationCommentDialog" [ngIfElse]="showCommentCreationDialog">
              <label *ngIf="taskInfo.comments.length <= 0" class="form-label">
                <strong>{{t("noCommentsHere")}}</strong></label>
            </ng-template>
            <ng-template #showCommentCreationDialog>
              <textarea [(ngModel)]="commentValue" [ngModelOptions]="{standalone: true}" id="signature-1"
                        class="form-control" rows="4" name="signature" style="height: 230px; resize: none"></textarea>
              <div class="py-2 d-flex justify-content-end align-items-center">
                <button (click)="saveComment()" class="btn btn-primary" type="button">{{t("saveComments")}}</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
