<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">401</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span>
      You haven't any access to this page.
    </p>
    <p class="lead">
      The page you’re looking for has private access. Contact with owner to solve this problem.
    </p>
    <a [routerLink]="[action]" class="btn btn-primary">
      {{this.action == '/login' ? 'Login': 'Go Home'}}</a>
  </div>
</div>
