<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
  <div class="container-fluid">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button"><i
      class="fas fa-bars"></i></button>
<!--    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--      <div class="input-group">-->
<!--        <input class="bg-light form-control border-0 small" type="text" placeholder="Search for1 ..."/>-->
<!--        <button class="btn btn-primary border-0 small py-0" type="button" style="background: #cd3e3e;"><i class="fas fa-search"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
    <ul class="navbar-nav flex-nowrap ms-auto">
<!--SEARCH FOR ON MOBILE VERSION-->
<!--      <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"-->
<!--                                                          data-bs-toggle="dropdown" href="#"><i-->
<!--        class="fas fa-search"></i></a>-->
<!--        <div class="dropdown-menu dropdown-menu-end p-3 animated&#45;&#45;grow-in" aria-labelledby="searchDropdown">-->
<!--          <form class="me-auto navbar-search w-100">-->
<!--            <div class="input-group">-->
<!--              <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."/>-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </li>-->
<!--SEARCH FOR ON MOBILE VERSION-->
      <li class="nav-item dropdown no-arrow mx-1">
        <div class="nav-item dropdown no-arrow">

          <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
            <span [ngClass]="activeNotifications.length > 0 ? 'badge bg-danger badge-counter' : 'badge badge-counter'">
              {{activeNotifications.length > 5 ? '5+' : activeNotifications.length}}
            </span>
            <i class="fas fa-bell fa-fw"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
            <h6 class="dropdown-header" *transloco="let t">
              {{activeNotifications.length > 0 ? t("newNotifications") : t("noNotifications")}}
            </h6>
            <a *ngFor="let notification of activeNotifications" class="dropdown-item d-flex align-items-center" href="">
              <div class="me-3">
                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
              </div>
              <div (click)="openRelatedTicket(notification.relatedTicket.relatedProjectId, notification.relatedTicketId)">
              <span class="small text-gray-500">
                {{notification.created}}
              </span>
                <p>{{notification.template}}</p>
              </div>
            </a>
          </div>
        </div>
      </li>

      <div class="d-none d-sm-block topbar-divider"></div>
      <li class="nav-item dropdown no-arrow">
        <div class="nav-item dropdown no-arrow">
          <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
            <span class="d-none d-lg-inline me-2 text-gray-600 small">
              {{currentUser.firstName + ' ' + currentUser.lastName}}
            </span>
            <img class="border rounded-circle img-profile" src="{{currentUser.image}}"/>
          </a>
          <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
            <a (click)="goProfile()" class="dropdown-item" href="#" *transloco="let t">
              <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
              {{t("profile")}}
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="goLogout()" class="dropdown-item" href="#" *transloco="let t">
              <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
              {{t("logout")}}
            </a>
            <div class="dropdown-divider"></div>
            <div class="d-inline" href="#">
              <a (click)="changeSiteLanguage('en')" class="dropdown-item" href="#">
                <i class="fas fa-sm fa-fw me-2 text-gray-400"></i>
                EN
              </a>
              <a (click)="changeSiteLanguage('ru')" class="dropdown-item" href="#">
                <i class="fas fa-sm fa-fw me-2 text-gray-400"></i>
                RU
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
