<div class="container-fluid">
  <h3 class="text-dark m-3">Task&#39;s creation</h3>
  <div class="row m-3">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">Main
          information</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="mb-3"><label class="form-label" for="username"><strong>Title</strong></label>
                <input [(ngModel)]="createTaskRequest.title" id="username" class="form-control" type="text"
                       placeholder="Title" name="title"/>
              </div>
              <div class="mb-3"><label class="form-label"><strong>Type</strong></label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select type...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListType"
                  [(ngModel)]="type"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded4 | async"
                  (onSelect)="onItemSelect($event, 'type', false)"
                  (onDeSelect)="onItemSelect($event, 'type', true)">
                </ng-multiselect-dropdown>
              </div>
              <div class="mb-3"><label class="form-label" for="last_name">
                <strong>Status</strong>
              </label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select status...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListStatus"
                  [(ngModel)]="status"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded2 | async"
                  (onSelect)="onItemSelect($event, 'status', false)"
                  (onDeSelect)="onItemSelect($event, 'status', true)">
                </ng-multiselect-dropdown>
              </div>
              <div class="mb-3"><label class="form-label" for="last_name">
                <strong>Priority</strong>
              </label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select priority...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListPriority"
                  [(ngModel)]="priority"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded3 | async"
                  (onSelect)="onItemSelect($event, 'priority', false)"
                  (onDeSelect)="onItemSelect($event, 'priority', true)">
                </ng-multiselect-dropdown>
              </div>

              <div class="mb-3"><label class="form-label" for="last_name">
                <strong>Difficulty</strong>
              </label>
                <input [(ngModel)]="createTaskRequest.difficulty" id="username" class="form-control" type="text"
                       placeholder="Difficulty" required min="0" max="20" name="difficulty"/>
              </div>

              <div class="mb-3"><label class="form-label" for="last_name">
                <strong>Parent ticket</strong>
              </label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select ticket...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownListTickets"
                  [(ngModel)]="parentTicket"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded1 | async"
                  (onSelect)="onItemSelect($event, 'subtask', false)"
                  (onDeSelect)="onItemSelect($event, 'subtask', true)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col">
              <div class="mb-3"><label class="form-label"
                                       for="first_name"><strong>Description</strong></label></div>
              <textarea [(ngModel)]="createTaskRequest.description" [ngModelOptions]="{standalone: true}"
                        class="form-control"
                        style="height: 250px;">{{createTaskRequest.description}}</textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold" style="--bs-primary: #cd3e3e;--bs-primary-rgb: 205,62,62;">Additional
          information</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="mb-3"><label class="form-label" for="username"><strong>Assignee</strong></label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select assignee...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownList"
                  [(ngModel)]="assignee"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded | async"
                  (onSelect)="onItemSelect($event, 'assignee', false)"
                  (onDeSelect)="onItemSelect($event, 'assignee', true)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col">
              <div class="mb-3"><label class="form-label" for="email"><strong>Reviewer</strong></label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select reviewer...'"
                  [settings]="dropdownSettingsSingle"
                  [data]="dropdownList"
                  [(ngModel)]="reviewer"
                  [ngModelOptions]="{standalone: true}"
                  *ngIf="filtersLoaded | async"
                  (onSelect)="onItemSelect($event, 'reviewer', false)"
                  (onDeSelect)="onItemSelect($event, 'reviewer', true)">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
        </form>
        <div class="text-center justify-content-between" style="display: flex; position: relative">
          <button (click)="createTask()" class="btn btn-primary btn-sm" type="submit"
                  style="background: #cd3e3e;border-style: none;">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

