<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">{{project.name}}</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button"
                                                  href="#">Generate statistic</a>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-primary py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total tasks</span></div>
              <div class="text-dark fw-bold h5 mb-0"><span>$40,000</span></div>
            </div>
            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-success py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Total completed tasks</span>
              </div>
              <div class="text-dark fw-bold h5 mb-0"><span>$215,000</span></div>
            </div>
            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-info py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>TOTAL IN PROGRESS TASKS</span>
              </div>
              <div class="row g-0 align-items-center">
                <div class="col-auto">
                  <div class="text-dark fw-bold h5 mb-0 me-3"><span>50%</span></div>
                </div>
                <div class="col">
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: 50%;"><span class="visually-hidden">50%</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-warning py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>tASKS IN REVIEW</span></div>
              <div class="text-dark fw-bold h5 mb-0"><span>18</span></div>
            </div>
            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xxl-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0">Last opened tasks</h6>
        </div>
        <div class="card-body">
          <h4 class="small fw-bold">Server migration<span class="float-end">20%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                 style="width: 20%;"><span class="visually-hidden">20%</span></div>
          </div>
          <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                 style="width: 40%;"><span class="visually-hidden">40%</span></div>
          </div>
          <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 60%;"><span class="visually-hidden">60%</span></div>
          </div>
          <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                 style="width: 80%;"><span class="visually-hidden">80%</span></div>
          </div>
          <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;"><span class="visually-hidden">100%</span></div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0">Todo List</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">10:30 AM</span>
              </div>
              <div class="col-auto">
                <div class="form-check"><input id="formCheck-1" class="form-check-input" type="checkbox"/><label
                  class="form-check-label" for="formCheck-1"></label></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">11:30 AM</span>
              </div>
              <div class="col-auto">
                <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox"/><label
                  class="form-check-label" for="formCheck-2"></label></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>
              </div>
              <div class="col-auto">
                <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox"/><label
                  class="form-check-label" for="formCheck-3"></label></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
