<div class="container-fluid">
  <h3 class="text-dark mb-4">Team</h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Employee Info</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-nowrap">
          <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show
            <mat-select [(ngModel)]="defaultSize" class="d-inline-block">
              <mat-option (click)="findByPage(this.projectId, page, 10)" [value]="10">10</mat-option>
              <mat-option (click)="findByPage(this.projectId, page, 20)" [value]="25">20</mat-option>
              <mat-option (click)="findByPage(this.projectId, page, 50)" [value]="50">50</mat-option>
              <mat-option (click)="findByPage(this.projectId, page, 100)" [value]="100">100</mat-option>
            </mat-select>
          </label></div>
        </div>
        <div class="col-md-6">
          <div id="dataTable_filter" class="text-md-end dataTables_filter">
            <label class="form-label">
              <input (keyup)="findByPage(this.projectId, page, 100, searchFilter)" [(ngModel)]="searchFilter"
                     class="form-control form-control-sm"
                     type="text" aria-controls="dataTable" placeholder="Search team members..."/>
            </label>
          </div>
        </div>
      </div>
      <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
        <table id="dataTable" class="table my-0">
          <thead>
          <tr>
            <td><strong>Name</strong></td>
            <td><strong>Login</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>County</strong></td>
            <td><strong>City</strong></td>
            <td><strong>Edit</strong></td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users" class="hovering">
            <td><img class="rounded-circle me-2" width="30" height="30" src="{{user.image}}"/>
              {{user.firstName}} {{user.lastName}}
            </td>
            <td (click)="openUserProfilePopUp(user.id)">{{user.login}}</td>
            <td (click)="openUserProfilePopUp(user.id)">{{user.email}}</td>
            <td (click)="openUserProfilePopUp(user.id)">{{user.country}}</td>
            <td (click)="openUserProfilePopUp(user.id)">{{user.city}}</td>
            <td>
              <a (click)="deleteUserFromProject(user.id)" class="btn btn-danger btn-circle ms-1" role="button"><i
                class="fas fa-trash text-white"></i></a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td><strong>Name</strong></td>
            <td><strong>Position</strong></td>
            <td><strong>Id</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Start date</strong></td>
            <td><strong>Edit</strong></td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{page > 0 ? page * size + 1 : (page + 1)}}
            to {{totalElements > size + numberOfElements ? size : totalElements}} of {{totalElements}}
          </p>
        </div>
        <div class="col-md-6">
          <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li *ngIf="page > 0" (click)="findByPage(this.projectId, this.size, page - 1)" class="page-item"><a
                class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
              <li *ngFor="let pageNumber of pageNumbers" (click)="findByPage(this.projectId, pageNumber - 1, this.size)"
                  [ngClass]="pageNumber == this.page + 1 ? 'page-item active' : 'page-item'"><a class="page-link"
                                                                                                href="#">{{pageNumber}}</a>
              </li>
              <li *ngIf="page < totalPages - 1" (click)="findByPage(this.projectId, this.size, page + 1)"
                  class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
