<ng-content></ng-content>
  <nav class="navbar navbar-dark pt-4 align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(114,155,113); height: 100%">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <img src="/assets/ms-seo.jpg" width="102" height="61" style="display: block;position: absolute;" />
      <div class="sidebar-brand-icon rotate-n-15"></div>
      <div class="sidebar-brand-text mx-3"></div>
    </a>
      <hr class="sidebar-divider my-0" />
      <ul id="accordionSidebar" class="navbar-nav text-light">
        <li class="nav-item"><a [ngClass]="router.url == '/dashboard' ? 'nav-link active' : 'nav-link'" (click)="goDashboard()" class="nav-link"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item"><a [ngClass]="router.url == '/profile' ? 'nav-link active' : 'nav-link'" (click)="goProfile()" class="nav-link"><i class="fas fa-user"></i><span>Profile</span></a></li>
        <li class="nav-item"><a [ngClass]="router.url == '/project' ? 'nav-link active' : 'nav-link'" (click)="goProjects()" class="nav-link"><i class="fas fa-table"></i><span>Projects</span></a></li>
      </ul>
      <ul *ngIf="checkProjectInfoPage()" [@expandedPanel] = "state" id="accordionSidebar-1" class="navbar-nav text-light">
        <label class="p" [ngClass]="router.url.substring(0, router.url.indexOf('?')) == '/project-info' ? 'nav-link active' : 'nav-link'" (click)="goProjectInfo()" style="font-size: 24px; text-align: center;">Project Menu</label>
        <li (click)="goTask()" class="nav-item text-center">
          <a [ngClass]="router.url.substring(0, router.url.indexOf('?')) == '/task' ? 'nav-link active' : 'nav-link'">
            <i class="fas fa-tachometer-alt"></i>
            <span class="justify-content-center">Tasks</span></a></li>
        <li (click)="goTeam()" class="nav-item text-center">
          <a [ngClass]="router.url.substring(0, router.url.indexOf('?')) == '/team' ? 'nav-link active' : 'nav-link'">
            <i class="fas fa-user"></i>
            <span>Team</span>
          </a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline">
        <button id="sidebarToggle" class="btn rounded-circle border-0" type="button"></button>
      </div>
    </div>
  </nav>
