<div class="container-fluid">
  <h3 class="text-dark mb-4">Tasks</h3>
  <div class="card shadow">
    <div class="card-header py-3" style="display: flex;">
      <div class="col-md-6">
        <div id="dataTable_filter-1" class="text-md-end dataTables_filter">
          <p class="text-primary m-0 fw-bold" style="text-align: left;">Task Info</p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="dataTable_filter-2" class="text-md-end dataTables_filter">
          <button (click)="goTaskCreation()" class="btn btn-primary" type="button">Create new Task</button>
          <label class="form-label"></label></div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-nowrap">
          <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
            <label class="form-label">Show 
              <mat-select [(ngModel)]="defaultSize" class="d-inline-block">
                <mat-option (click)="findByPage(this.project.id, page, 10)" [value]="10">10</mat-option>
                <mat-option (click)="findByPage(this.project.id, page, 20)" [value]="25">20</mat-option>
                <mat-option (click)="findByPage(this.project.id, page, 50)" [value]="50">50</mat-option>
                <mat-option (click)="findByPage(this.project.id, page, 100)" [value]="100">100</mat-option>
              </mat-select>
            </label></div>
        </div>
        <div class="col-md-6">
          <div id="dataTable_filter" class="text-md-end dataTables_filter"><label class="form-label"><input
            class="form-control form-control-sm" type="search" aria-controls="dataTable"
            placeholder="Search"/></label></div>
        </div>
      </div>
      <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
        <table id="dataTable" class="table my-0">
          <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Type</th>
            <th>Status</th>
            <th>Assignee</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="goTaskInfo(project.id, task.id)" *ngFor="let task of tasks" class="hovering">
            <td (click)="goTaskInfo(project.id, task.id)">{{project.shortName}}-{{task.number}}</td>
            <td (click)="goTaskInfo(project.id, task.id)">{{task.title}}</td>
            <td (click)="goTaskInfo(project.id, task.id)">{{task.priorityName}}</td>
            <td (click)="goTaskInfo(project.id, task.id)">{{task.type}}</td>
            <td (click)="goTaskInfo(project.id, task.id)">{{task.status}}</td>
            <td (click)="goTaskInfo(project.id, task.id)"><img class="rounded-circle me-2" width="30" height="30" src="{{task.reporter.image}}"/>
              {{task.reporter.firstName}} {{task.reporter.lastName}}
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td><strong>Number</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>Priority</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Status</strong></td>
            <td><strong>Assignee</strong></td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{page > 0 ?  page * size + 1 : (page + 1)}} to {{totalElements > size + numberOfElements ? size : totalElements}} of {{totalElements}}
          </p>
        </div>
        <div class="col-md-6">
          <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li *ngIf="page > 0" (click)="findByPage(this.project.id, this.size, page - 1)" class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
              <li *ngFor="let pageNumber of pageNumbers" (click)="findByPage(this.project.id, this.size, pageNumber - 1)" [ngClass]="pageNumber == this.page + 1 ? 'page-item active' : 'page-item'"><a class="page-link" href="#">{{pageNumber}}</a></li>
              <li *ngIf="page < totalPages - 1" (click)="findByPage(this.project.id, this.size, page + 1)" class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

